<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card align-items-center>
    <ion-grid>
      <ion-row>
        <ion-col>
          Application Name:
        </ion-col>
        <ion-col>
          LocateMe
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Developed by:
        </ion-col>
        <ion-col>
          Aravindhghosh P (17Y009),<br>
          3rd Year MCA,<br>
          Department of Computer Applications,<br>
          Thiagarajar College of Engineering
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Project:
        </ion-col>
        <ion-col>
          NOViGO - Internship Assignment
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Tools Used:
        </ion-col>
        <ion-col>
          Ionic framework<br>
          Ionic Capacitor<br>
          TypeScript<br>
          Angular JS<br>
          Firebase<br>
          Google Map Javascript API<br>
          Visual Studio Code(IDE)
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Link to my profile:
        </ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="openURL()">
          <ion-icon name="logo-linkedin"></ion-icon>Linkedin</ion-button><br>
          <ion-button fill="clear" (click)="openGithub()">
            <ion-icon ios="logo-github" md="logo-github"></ion-icon>Github</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>